<!DOCTYPE html>
<html lang="en" class="sm:scroll-smooth ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Shop</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/all.min.css">
</head>

<body class=" bg-slate-800 flex-row justify-items-center min-w-full min-h-full">
    <header class="bg-cyan-600 sticky h-14 min-w-full top-0 z-10 shadow-xl">
        <section class="p-2 text-whit text-center m-auto flex flex-row justify-around h-full">
            <h1 class="font-medium basis-1/5 text-4xl text-white">
                <a href="#hero">E-Shop</a>
            </h1>
            <div class=" w-auto flex justify-center items-center basis-3/5 gap-6">
                <div class="bg-white rounded-lg w-3/6 border-solid border-black text-center">
                    <input type="text" placeholder="Search..." class="outline-0 w-11/12 h-full text-xl text-black">
                </div>
                <button i="search" type="button" class="bg-cyan-700 rounded-full shadow-md text-3xl text-white w-10 h-full p-2 text-center hover:bg-cyan-900 hover:opacity-90">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M18.319 14.4326C20.7628 11.2941 20.542 6.75347 17.6569 3.86829C14.5327 0.744098 9.46734 0.744098 6.34315 3.86829C3.21895 6.99249 3.21895 12.0578 6.34315 15.182C9.22833 18.0672 13.769 18.2879 16.9075 15.8442C16.921 15.8595 16.9351 15.8745 16.9497 15.8891L21.1924 20.1317C21.5829 20.5223 22.2161 20.5223 22.6066 20.1317C22.9971 19.7412 22.9971 19.1081 22.6066 18.7175L18.364 14.4749C18.3493 14.4603 18.3343 14.4462 18.319 14.4326ZM16.2426 5.28251C18.5858 7.62565 18.5858 11.4246 16.2426 13.7678C13.8995 16.1109 10.1005 16.1109 7.75736 13.7678C5.41421 11.4246 5.41421 7.62565 7.75736 5.28251C10.1005 2.93936 13.8995 2.93936 16.2426 5.28251Z"
                        fill="currentColor"
                    />
                    </svg>
                </button>
            </div>
            <div class="w-3/12 basis-1/5">
                <button type="button" class="text-white bg-cyan-700 rounded-3xl shadow-md text-3xl w-1/2 h-full ml-2 hover:bg-cyan-900 hover:opacity-90 active:bg-cyan-950">Check out</button>
            </div>
        </section>
    </header>
    <main class="mx-w-4xl mx-auto">
        <section id="hero" class="w-full min-h-32 felx-row justify-center items-center p-4 mt-8 scroll-mt-12">
            <article class="text-center">
                <h1 class="text-4xl text-center font-bold text-white w-4/6 mx-auto">
                    Welcome to E-Shop, where your online shopping exprience will be like no other!
                </h1>
                <p class="text-3xl text-center text-gray-400 font-bold w-1/2 mx-auto p-8">
                    This website aims to make online shopping easier, faster and much more enjoyable for you!
                </p>
            </article>
            <hr class="bg-white w-1/3 mx-auto">
        </section>
        <section id="categories" class="min-h-32">
            <h2 class="text-center text-3xl font-bold text-white">
                Categories
            </h2>
            <ul if="categories list" class="list-none mx-auto my-12 flex flex-row justify-center items-center gap-8 overflow-hidden">
                <li id="men" class=" flex-row-reverse w-1/12 bg-cyan-600 text-center text-3xl rounded-md shadow-sm border border-solid border-sky-600 py-6">
                    <h3 class="text-2xl text-center font-bold">
                        Men
                    </h3>
                    <img src="./img/1f468.png" class="text-sm">
                </li>
                <li id="women" class=" flex-row-reverse w-1/12 bg-cyan-600 text-center text-3xl rounded-md shadow-sm border border-solid border-sky-600 py-6">
                    <h3 class="text-2xl text-center font-bold">
                        Women
                    </h3>
                    <img src="./img/873-8735997_ginger-woman-emoji-png-transparent-emoji-emoji-iphone (1).png" class="text-sm">
                </li>
                <li id="Kids" class=" flex-row-reverse w-1/12 bg-cyan-600 text-center text-3xl rounded-md shadow-sm border border-solid border-sky-600 py-6">
                    <h3 class="text-2xl text-center font-bold">
                        Kids
                    </h3>
                    <img src="./img/1000556-kid-emoji-icon-free-photo (1).png" class="text-sm">
                </li>
                <li id="tech" class=" flex-row-reverse w-1/12 bg-cyan-600 text-center text-3xl rounded-md shadow-sm border border-solid border-sky-600 py-6">
                    <h3 class="text-2xl text-center font-bold">
                        Tech
                    </h3>
                    <img src="./img/1f5a5.png" class="text-sm">
                </li>
                <li id="house" class=" flex-row-reverse w-1/12 bg-cyan-600 text-center text-3xl rounded-md shadow-sm border border-solid border-sky-600 py-6">
                    <h3 class="text-2xl text-center font-bold">
                        House
                    </h3>
                    <img src="./img/1f3e1.png" class="text-sm">
                </li>
                <li id="others" class=" flex-row-reverse w-1/12 bg-cyan-600 text-center text-3xl rounded-md shadow-sm border border-solid border-sky-600 py-6">
                    <h3 class="text-2xl text-center font-bold">
                        others
                    </h3>
                    <img src="./img/3523552-200 (1).png" class="text-sm">
                </li>
            </ul>
        </section>
        <hr class="bg-white w-1/3 mx-auto">
        <section id="listings" class=" w-full min-h-32 felx-row justify-center items-center p-4 mt-4">
            <h2 class="text-3xl text-white font-bold text-center">
                Some items...
            </h2>
            <section class="w-3/4 flex flex-row justify-center items-center gap-5 mx-auto">
                <button class="text-center text-4xl text-white font-bold hover:text-gray-500"><</button>
                <ul id="items" class="list-none mx-auto my-12 flex flex-row justify-center items-center gap-8">
                    
                </ul>
                <button class="text-center text-4xl text-white font-bold hover:text-gray-500">></button>
            </section>
        </section>
        <hr class="bg-white w-1/3 mx-auto">
        <section class="w-full min-h-32 felx-row justify-center items-center p-4 mt-4">
            <h2 class="text-center text-white text-3xl font-bold">
                Some of our companies
            </h2>
            <section class="w-3/4 flex flex-row justify-center items-center gap-5 mx-auto">
                <button class="text-center text-4xl text-white font-bold hover:text-gray-500"><</button>
                <li class="list-none flex flex-row jutsify-center gap-6 items-center mt-4 mx-auto">
                    <ul class=" w-40 h-40 flex flex-col justify-center items-center p-6 bg-cyan-600 rounded-md shadow-sm">
                        <div class="w-full h-28 rounded-md">
                            <img src="./Comp_logos/images (5).png">
                        </div>
                        <h2 class="text-center text-white text-2xl font-bold">
                            Company
                        </h2>
                    </ul>
                    <ul class=" w-40 h-40 flex flex-col justify-center items-center p-6 bg-cyan-600 rounded-md shadow-sm">
                        <div class="w-full h-28 rounded-md">
                            <img src="./Comp_logos/images (2).png">
                        </div>
                        <h2 class="text-center text-white text-2xl font-bold">
                            Company
                        </h2>
                    </ul>
                    <ul class=" w-40 h-40 flex flex-col justify-center items-center p-6 bg-cyan-600 rounded-md shadow-sm">
                        <div class="w-full h-28 rounded-md">
                            <img src="./Comp_logos/images (3).png">
                        </div>
                        <h2 class="text-center text-white text-2xl font-bold">
                            Company
                        </h2>
                    </ul>
                    <ul class=" w-40 h-40 flex flex-col justify-center items-center p-6 bg-cyan-600 rounded-md shadow-sm">
                        <div class="w-full h-28 rounded-md">
                            <img src="./Comp_logos/images (4).png">
                        </div>
                        <h2 class="text-center text-white text-2xl font-bold">
                            Company
                        </h2>
                    </ul>
                    <ul class=" w-40 h-40 flex flex-col justify-center items-center p-6 bg-cyan-600 rounded-md shadow-sm">
                        <div class="w-full h-28 rounded-md">
                            <img src="./Comp_logos/images (5).jpeg">
                        </div>
                        <h2 class="text-center text-white text-2xl font-bold">
                            Company
                        </h2>
                    </ul>
                    <ul class=" w-40 h-40 flex flex-col justify-center items-center p-6 bg-cyan-600 rounded-md shadow-sm">
                        <div class="w-full h-28 rounded-md">
                            <img src="./Comp_logos/images.png">
                        </div>
                        <h2 class="text-center text-white text-2xl font-bold">
                            Company
                        </h2>
                    </ul>
                </li>
                <button class="text-center text-4xl text-white font-bold hover:text-gray-500">></button>
            </section>
        </section>
        <section class="bg-cyan-600 w-full max-h-36 flex flex-row justify-around items-center p-8 mt-8">
            <h5 class="text-center text-sm text-gray-400 w-32">
                This is a bunch of legal stuff it will be filled with bullshit and nthn relevent blah blah blah...
            </h5>
            <a class=" text-gray-400 hover:text-gray-500" href="https://youtu.be/dQw4w9WgXcQ" target="_blank">This is a link :D</a>
        </section>
    </main>
</body>
<script>
    var items=document.getElementById("items")
    var string=""
    var data= `<li class=" w-40 h-40 flex flex-col justify-center items-center p-6 bg-cyan-600 rounded-md shadow-sm">
        <div class="w-full h-28 rounded-md">
            <img src="./Prod-img/images (1).jpeg">
        </div>
        <h2 class="text-center text-white text-2xl font-bold">
            Price $$
        </h2>
    </li>`
    for(i=0;i<6;i++){
        string=string+data;
    }
    document.getElementById("items").innerHTML=string
</script>
</html>