<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-shop</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class=" bg-slate-800 flex-row justify-items-center min-w-full min-h-full">
    <header class=" h-14 min-w-full flex justify-around items-center bg-cyan-600 shadow-lg">
        <section class="w-1/6 flex-none">
            <div class="w-full h-full my-auto text-center ">
                <h1 class="font-medium basis-1/5 text-4xl text-white">E-shop</h1>
            </div>
        </section class='w-1/4 h-full text-left'>
        <section claSS="w-4/6 flex-initial">
            <div class="flex justify-center items-center basis-3/5 gap-6">
                <div class="bg-white rounded-lg w-3/6 border-solid border-black text-center">
                    <input type="text" placeholder="Search..." class="outline-0 w-11/12 h-full text-xl text-black">
                </div>
                <button i="search" type="button" class="bg-cyan-700 rounded-full shadow-md text-3xl text-white w-10 h-full p-2 text-center hover:bg-cyan-900 hover:opacity-90">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M18.319 14.4326C20.7628 11.2941 20.542 6.75347 17.6569 3.86829C14.5327 0.744098 9.46734 0.744098 6.34315 3.86829C3.21895 6.99249 3.21895 12.0578 6.34315 15.182C9.22833 18.0672 13.769 18.2879 16.9075 15.8442C16.921 15.8595 16.9351 15.8745 16.9497 15.8891L21.1924 20.1317C21.5829 20.5223 22.2161 20.5223 22.6066 20.1317C22.9971 19.7412 22.9971 19.1081 22.6066 18.7175L18.364 14.4749C18.3493 14.4603 18.3343 14.4462 18.319 14.4326ZM16.2426 5.28251C18.5858 7.62565 18.5858 11.4246 16.2426 13.7678C13.8995 16.1109 10.1005 16.1109 7.75736 13.7678C5.41421 11.4246 5.41421 7.62565 7.75736 5.28251C10.1005 2.93936 13.8995 2.93936 16.2426 5.28251Z"
                        fill="currentColor"
                    />
                    </svg>
                </button>
            </div>
        </section>
        <section class=" w-1/6 text-white text-2xl items-center">
            <div class="mt-auto text-center">
                <button class="border-transparent bg-transparen hover:text-gray-300 mr-4">
                    <h1>
                        Wallet
                    </h1>
                </button>
                <button class="border-transparent bg-transparen hover:text-gray-300 mr-4">
                    <h1>
                        Settings
                    </h1>
                </button>
                <button class="border-transparent bg-transparen hover:text-gray-300">
                    <h1>
                        Log Out
                    </h1>
                </button>    
            </div>    
        </section>       
    </header>
    <section class="gap-8 w-full">
        <div class="w-9/12 mx-auto mt-8 bg-cyan-600 shadow-2xl rounded-xl">
            
        </div>
    </section>
</body>
</html>